@media (min-width: 320px) and (max-width: 767px) {
  .header_cont{
    padding: 20px 20px 20px 20px;
  }
  .sidemenu .appointment_link{
    width: 90%;
  }
  .header_cont .social_icons{
    text-align: center
  }
  .header_cont .nav_links_left a:hover{
    border-bottom : 0;
  }
  .header_cont .nav_links_right a:hover{
    border-bottom : 0;
  }
  .right_nav{
    text-align: center;
  }
  .header_cont .appointment_link{
    font-size: 10px;
    padding: 5px 5px;
  }
  .header_cont .appointment_link:hover{
    font-family: Roboto 'Bold';
    font-size: 11px;
    color: #fff;
    font-weight: 900;
  }
  section .form_style1 h4{
      font-size: 28px;
  }
  .color-change .social_icons, .color-change hr, .color-change a.appointment_link {
    display: inline-block!important;
    /*padding: 10px 10px;*/
  }
  /* part1 */
  section .part1 a{
      display: none;
  }
  /* line */
  .horizontal_line1 hr{
    border: 2px solid #EEEEEE;
    margin :0px 50px 50px 50px;
  }
  section .part2 img{
    margin: auto!important;
  }
  section .part2 .test_content span{
    font-size: 18px;
  }
  section .part2 .test_content p{
    font-size:12px;
    font-weight: 400;
    text-align: left;
  }
  section .contact_part2 .box1{
    padding:10px 30px 10px 20px;
    border-right:0px;
  }
  section .part3 .img_property{
    margin:10px 0px 10px 0px;
  }
  section .part3 .content1{
    top: 30px;
    left: 10%;
    font-family : Roboto 'Regular';
    font-size : 15px;
    font-weight : 500;
  }
  section .part3 p{
    left:0%;
    text-align: left;
  }
  section .part3 .p1 a{
    top: 140px;
    font-size : 11px;
  }
  section .part3 .img_property1{
    margin:10px 0px 10px 0px;
  }
  section .part3 .content2{
    top: 30px;
    left: 10%;
    font-family : Roboto 'Regular';
    font-size : 15px;
    font-weight : 500;
  }
  section .part3 .p2 a{
    top: 140px;
    font-size : 11px;
  }
  section .part4 .img_property2{
    margin:10px 0px 10px 0px;
  }
  section .part4 p{
    left:0%;
    text-align: left;
  }
  section .part4 .content3{
    position: absolute;
    top: 30px;
    left: 10%;
    font-family : Roboto 'Regular';
    font-size : 15px;
    font-weight : 500;
  }
  section .part4 .p3 a{
    top: 140px;
    font-size : 11px;
  }
  section .part4 .img_property3{
    margin:10px 0px 10px 0px;
  }
  section .part4 .content4{
    position: absolute;
    top: 30px;
    left: 10%;
    font-family : Roboto 'Regular';
    font-size : 15px;
    font-weight : 500;
  }
  section .part4 .p4 a{
    top: 140px;
    font-size : 11px;
  }
  section .part5 .content5{
    position: absolute;
    top: 55px;
    left: 10%;
    font-family : Roboto 'Regular';
    font-size : 14px;
    font-weight : 500;
  }
  section .part5 h2{
    font-size: 24px;
  }
  section .part5 img{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    max-width:100%;
    height:200px;
  }
  section .part5 p{
    text-align: left;
    font-size: 12px;
  }
  section .part5 .content5 a{
    font-size : 11px;
  }
  section .part6 img{
    height: 200px;
  }
  section .part6 h2{
    font-size: 24px!important;
  }
 
  section .part6 .content6{
    top: 30px;
    left: 45%;
    font-size: 11px;
  }
  section .part6 h2{
    font-size: 26px;
  }
  section .part6 p{
    text-align: left;
    margin-bottom: 0!important;
  }
  section .part6 .content6 a{
     font-size: 11px;
  }
  section .part7 img{
    height: 250px;
  }
  section .part7 .content7{
    top: 200px;
    width: 70%;
  }
  section .part7 h1{
    font-size: 14px;
  }
  section .part7 .contactlens_img .content7 a{
     font-size : 11px;
  }

  /* part8 */
  section .part8 p{
    font-size: 15px;
    color:#322f31;
    font-weight:900;
  }
  section .part8 {
  padding-right:70px;
}
  section .contact_part1 p{
    top: 77px;
    left:27%;
    font-size:12px;
  }
  section .contact_part1 a{
    width: 12%;
    font-size: 9px;
    text-decoration: none;
    color: #015dba;
    padding: 5px 0px;
  }
  section .contact_part1 a:hover{
    width: 13%;
    font-family : Roboto 'Bold';
    font-size : 10px;
    color: #015dba;
    border-bottom: 1px solid #015dba;
    padding : 5px 0px;
  }
  section .contact_layout{
    padding:0px !important;
  }
  section .contact_part2{
    margin: 0px 5px 0px 5px;
  }
  section .contact_part2 .box1{
    padding:10px 0px 10px 0px;
  }
  section .contact_part2 h2{
    padding:35px 0px 20px 0px;
  }
  section .contact_part2 .box2{
    padding:40px 0px 10px 0px;
  }
  /* what-we-d0 */
  section .container .part11{
    padding: 60px 0px 60px 0px;
  }
  section .part11 img{
    width: 250px;
    height: 250px;
  }
  section .part11 h2{
    font-size: 28px;
    padding-top: 0px;
    padding-bottom: 15px;
  }
  section .part11 p{
    text-align: left;
    font-size: 20px;
  }
  section .container .part12{
      padding: 80px 50px 60px 50px;
  }
  /* eye-health */
  section .container .part13{
    padding: 00px 0px 60px 0px;
  }
  section .part13 img{
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
  }
  section .part13 h2{
    font-size: 28px;
  }
  section .part13 p{
    text-align: left;
    font-size: 20px;
  }

  /* eye-test */
  section .container .part14{
    padding: 60px 0px 60px 0px;
  }
  section .part14 img{
    width: 250px;
    height: 250px;
  }
  section .part14 h2{
    padding-top: 0px;
    font-size: 28px;
  }
  section .part14 p{
    font-size: 20px;
  }
  section .part14 table tr td{
    font-size: 11px;
  }
  section .container .part16{
      padding: 0;
  }
  section .part16 h2{
      font-size: 36px;
  }
  section .part16 p{
      font-size: 22px;
  }
  .tab-content .box_style{
      padding: 0px 10px 0px 10px;
  }
  section .eyehealth_services .box_text{
    margin-top: 25px;
  }
  section .container .part15{
    padding: 0px 0px 30px 0px;
  }
  section .book-eye-test_content img{
    margin: 50px 0px 50px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  section .book-eye-test_content input[type="text"]{
    border: 0;
    padding: 10px;
    font-weight: 500;
    font-size: 17px;
    width: 130px;
  }
  section .book-eye-test_content h3,p{
    margin: 0px 0px 50px 0px;
    text-align: center;
  }
  section .eyehealth_services .box_text{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .app_contact_det{
    display: none;
  }
  section .appointment_content .para{
    text-align: left!important;
    font-size: 24px!important;
    width: 70%;
  }
  section .contactlense_block ul li{
    margin-right: 0px;
    }
  section .lense_block a{
      padding: 10px;
      font-size: 15px;
      margin-bottom: 25px;
    }
section .contactlense_block ul li a{
    padding: 10px 14px;
}
  /* footer */
  footer ul h3{
    font-size:20px;
    font-weight: 500;
    color: #747474;
    padding-bottom:30px;
  }
  footer .foot_rights p{
    padding-top: 10px;
    padding-left: 0px;
    font-size: 12px;
  }
  footer .foot_policy p{
    padding-top: 10px;
    padding-left: 0px;
    font-size: 13px;
  }
  footer .foot_design p{
    padding-top: 10px;
    padding-left: 0px;
    font-size: 12px;
  }
  footer .foot_info{
    padding-left: 1rem;
  }
  footer .foot_social{
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* header */
  .container{
    max-width: 100%!important;
  }
  .header_cont{
    padding: 30px 10px 20px 10px;
  }
  .header_cont .brand-logo{
    display: none;
  }
  .header_cont img{
    padding: 10px 0px 10px 0px;
    /*width: 100%;*/
  }
  .header_cont .nav_links_left a{
    font-size: 13px;
  }
  .header_cont .nav_links_right a{
    font-size: 13px;
  }
  .header_cont .nav_links_left a:hover{
    border-bottom : 0;
  }
  .header_cont .nav_links_right a:hover{
    border-bottom : 0;
    font-size: 14px;
  }

  /* part1 */
  section .part1 a{
     position: absolute;
     top: 270px;
     left: 43%;
     font-size : 16px;
     font-weight : 500;
     text-decoration: none;
     color: #000000;
     border-bottom: 1px solid #000000;
  }
  section .part1 a:hover{
    color: #ca0e10;
    border-bottom: 1px solid #ca0e10;
  }

  /* part3 */
  section .part3 .img_property{
    margin:10px 0px 10px 0px;
  }
  section .part3 .p1{
    margin:10px 0px 10px 0px;
  }
  section .part3 .content1{
    left: 10%;
    top: 30px;
  }
  section .part3 p{
    text-align: left;
  }
  section .part3 .p1 a{
    font-size : 16px;
  }
  section .part3 .img_property1{
    margin:10px 0px 10px 0px;
  }
  section .part3 .p2{
    margin:10px 0px 10px 0px;
  }
  section .part3 .content2{
    top: 30px;
    left: 10%;
  }
  section .part3 .p2 a{
    font-size : 16px;
  }

  /* part4 */
  section .part4 .content3{
    left: 10%;
  }
  section .part4 .img_property2{
    margin:10px 0px 10px 0px;
  }
  section .part4 .content3{
    top: 30px;
  }
  section .part4 p{
    text-align: left;
  }
  section .part4 .p3 a{
    top: 150px;
    font-size : 16px;
  }
  section .part4 .img_property3{
    margin:10px 0px 10px 0px;
  }
  section .part4 .content4{
    top: 50px;
    left: 10%;
  }
  section .part4 .p4 a{
    top: 150px;
    font-size : 16px;
  }

  /* horzontal line */
  .horizontal_line1 hr{
    border: 2px solid #EEEEEE;
    margin :0px 50px 50px 50px;
  }

  /* part5 */
  section .part5 .content5{
    position: absolute;
    top: 55px;
    left: 10%;
    font-family : Roboto 'Regular';
    font-size : 16px;
    font-weight : 500;
  }
  section .part5 p{
    text-align: left;
  }
  section .part5 .frames_img .content5 a{
     font-size : 14px;
  }

  /* part6 */
  section .part6 .content6{
    top: 30px;
    left: 54%;
    color: #fff;
    font-family : Roboto 'Regular';
    font-size : 16px;
    font-weight : 500;
  }
  section .part6 .contactlens_img .content6 a {
     font-size : 14px;
  }

  /* part7 */
  section .part7 .content7{
    top: 250px;
    left: 32%;
    width: 70%;
  }
  section .part7 .contactlens_img h1{
    color : #322f31;
    font-size : 26px;
    font-weight : 900;
  }
  section .part7 .contactlens_img .content7 a{
    top:  120px;
    font-size : 14px;
    color: #322f31;
    border-bottom: 1px solid #322f31;
  }

  /* part8 */
  section .part8 p{
    font-size:26px;
    color:#322f31;
    font-weight:900;
  }
  section .contact_part2{
    margin: 0px 10px 0px 10px;
  }
  section .contact_part1 p{
    top: 300px;
    left:29%;
    font-size:26px;
    font-weight:900;
  }
  section .contact_layout{
    padding-left: 0px;
  }
  section .contact_part2 .box1{
    padding:40px 10px 10px 0px;
  }

  /* what-we-d0 */
  section .container .part11{
    padding: 60px 0px 60px 0px;
  }
  section .part11 img{
    width: 325px;
    height: 325px;
  }
  section .part11 p{
    text-align: left;
    font-size: 18px;
  }
  section .part11 h2{
    padding-top: 15px;
    font-size: 26px;
  }

  /* eye-health */
  section .container .part13{
    padding: 60px 0px 60px 0px;
  }
  section .part13 img{
    width: 325px;
    height: 325px;
  }
  section .part13 p{
    text-align: left;
    font-size: 18px;
  }
  section .part13 h2{
    padding-top: 15px;
    font-size: 26px;
  }

  /* eye-test */
  section .container .part14{
    padding: 60px 0px 60px 0px;
  }
  section .container .part15{
    padding: 0px 0px 30px 0px;
  }
  section .book-eye-test_content img{
    margin: 50px 0px 50px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  section .book-eye-test_content h3,p{
    margin: 0px 0px 50px 0px;
    text-align: center;
  }
  .app_contact_det{
    display: none;
  }
  section .part14 img{
    width: 325px;
    height: 325px;
  }
  section .part14 h2{
    padding-top: 15px;
    font-size: 26px;
  }
  section .part14 p{
    font-size: 18px;
  }
  section .container .part16{
    padding: 0px;
  }
  section .part16 p{
      font-size: 26px;
  }
section .contactlense_block ul li{
  margin-right: 24px
}
section .part17 p{
  font-size:15px;
  min-height: 90px;
}
  /* footer */
  footer ul h3{
    font-size:20px;
    font-weight: 500;
    color: #747474;
    padding-bottom:30px;
  }
  footer .foot_rights p{
    padding-top: 10px;
    text-align: left;
  }
  footer .foot_policy p{
    padding-top: 10px;
    text-align: left;
  }
  footer .foot_design p{
    padding-top: 10px;
    text-align: left;
  }
  footer .foot_info{
    padding-left: 0rem;
  }
  footer .foot_social{
    padding-bottom:20px;
  }
}
