@media (min-width: 320px) and (max-width: 767px) {
  /* line */
  .horizontal_line1 hr{
    border: 2px solid #EEEEEE;
    margin :0px 50px 50px 50px;
  }
  /* part8 */
  section .part8 p{
    font-size:26px;
    color:#322f31;
    font-weight:900;
  }
  section .contact_part2{
   margin: 0px 5px 0px 5px;
  }
  footer ul h3{
    font-size:20px;
    font-weight: 500;
    color: #747474;
    padding-bottom:30px;
  }
  footer .foot_rights p{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right:0px;
    padding-left: 40px;
    color: #747474;
    font-weight:600;
    font-size: 12px;
  }
  footer .foot_policy p{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right:0px;
    padding-left: 40px;
    color: #747474;
    font-weight:600;
    font-size: 13px;
  }
  footer .foot_design p{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right:0px;
    padding-left: 40px;
    color: #747474;
    font-weight:600;
    font-size: 12px;
  }
  footer .foot_info{
    padding-left: 1rem;
  }
  footer .foot_social{
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line */
  .horizontal_line1 hr{
    border: 2px solid #EEEEEE;
    margin :0px 50px 50px 50px;
  }
  /* part8 */
  section .part8 p{
    font-size:26px;
    color:#322f31;
    font-weight:900;
  }
  section .contact_part2{
    margin: 0px 10px 0px 10px;
  }
  footer ul h3{
    font-size:20px;
    font-weight: 500;
    color: #747474;
    padding-bottom:30px;
  }
  footer .foot_rights p{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right:0px;
    padding-left: 40px;
    color: #747474;
    font-weight:600;
    font-size: 13px;
  }
  footer .foot_policy p{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right:0px;
    padding-left: 40px;
    color: #747474;
    font-weight:600;
    font-size: 13px;
  }
  footer .foot_design p{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right:0px;
    padding-left: 40px;
    color: #747474;
    font-weight:600;
    font-size: 13px;
  }
  footer .foot_info{
    padding-left: 0rem;
  }
  footer .foot_social{
    padding-bottom:20px;
  }
}
