@media (min-width: 320px) and (max-width: 767px) {
  .header_cont .social_icons{
    text-align: center
  }
  .header_cont .nav_links_left a:hover{
    border-bottom : 0;
  }
  .header_cont .nav_links_right a:hover{
    border-bottom : 0;
  }
  .right_nav{
    text-align: center;
  }
  .header_cont .appointment_link{
    font-family: Roboto 'Bold';
    font-size: 10px;
    color: #fff;
    font-weight: 900;
    text-decoration: none;
    border-radius: 25px;
    padding: 5px 5px;
    -webkit-transition: 1.0s;
    transition: 1.0s;
    background-color:#015dba;
  }
  .header_cont .appointment_link:hover{
    font-family: Roboto 'Bold';
    font-size: 11px;
    color: #fff;
    font-weight: 900;
    background-color:#015dba;
    background-image:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(255,255,255,.7) 100%);
    transition:background-size 1s, background-color 1s;
    background-size: 150% 100%;
  }

  /* line */
  .horizontal_line1 hr{
    border: 2px solid #EEEEEE;
    margin :0px 50px 50px 50px;
  }
  section .contact_part2 .box1{
    padding:10px 30px 10px 20px;
    border-right:0px;
  }
  section .part3 .img_property{
    margin:10px 0px 10px 0px;
  }
  section .part3 .content1{
    top: 30px;
    left: 10%;
    font-family : Roboto 'Regular';
    font-size : 15px;
    font-weight : 500;
  }
  section .part3 p{
    left:0%;
    text-align: left;
  }
  section .part3 .p1 a{
    top: 140px;
    width: 32%;
    font-family : Roboto 'Regular';
    font-size : 11px;
    font-weight : 500;
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid #000000;
    padding : 10px 0px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
  section .part3 .p1 a:hover{
    top: 140px;
    width: 35%;
    font-family : Roboto 'Regular';
    font-size : 11px;
    font-weight : 500;
    text-decoration: none;
    color: #015dba;
    border-bottom: 1px solid #015dba;
    padding : 10px 0px;
  }
  section .part3 .img_property1{
    margin:10px 0px 10px 0px;
  }
  section .part3 .content2{
    position: absolute;
    top: 30px;
    left: 10%;
    font-family : Roboto 'Regular';
    font-size : 15px;
    font-weight : 500;
  }
  section .part3 .p2 a{
    position: absolute;
    top: 140px;
    width: 32%;
    font-family : Roboto 'Regular';
    font-size : 11px;
    font-weight : 500;
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid #000000;
    padding : 10px 0px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
  section .part3 .p2 a:hover{
    position: absolute;
    top: 140px;
    width: 35%;
    font-family : Roboto 'Regular';
    font-size : 12px;
    font-weight : 500;
    text-decoration: none;
    color: #015dba;
    border-bottom: 1px solid #015dba;
    padding : 10px 0px;
  }
  section .part4 .img_property2{
    margin:10px 0px 10px 0px;
  }
  section .part4 p{
    left:0%;
    text-align: left;
  }
  section .part4 .content3{
    position: absolute;
    top: 30px;
    left: 10%;
    font-family : Roboto 'Regular';
    font-size : 15px;
    font-weight : 500;
  }
  section .part4 .p3 a{
    position: absolute;
    top: 140px;
    width: 32%;
    font-family : Roboto 'Regular';
    font-size : 11px;
    font-weight : 500;
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid #000000;
    padding : 10px 0px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
  section .part4 .p3 a:hover{
    position: absolute;
    top: 140px;
    width: 35%;
    font-family : Roboto 'Regular';
    font-size : 12px;
    font-weight : 500;
    text-decoration: none;
    color: #015dba;
    border-bottom: 1px solid #015dba;
    padding : 10px 0px;
  }
  section .part4 .img_property3{
    margin:10px 0px 10px 0px;
  }
  section .part4 .content4{
    position: absolute;
    top: 30px;
    left: 10%;
    font-family : Roboto 'Regular';
    font-size : 15px;
    font-weight : 500;
  }
  section .part4 .p4 a{
    position: absolute;
    top: 140px;
    width: 32%;
    font-family : Roboto 'Regular';
    font-size : 11px;
    font-weight : 500;
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid #000000;
    padding : 10px 0px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
  section .part4 .p4 a:hover{
    position: absolute;
    top: 140px;
    width: 35%;
    font-family : Roboto 'Regular';
    font-size : 12px;
    font-weight : 500;
    text-decoration: none;
    color: #015dba;
    border-bottom: 1px solid #015dba;
    padding : 10px 0px;
  }
  section .part5 .content5{
    position: absolute;
    top: 55px;
    left: 10%;
    font-family : Roboto 'Regular';
    font-size : 14px;
    font-weight : 500;
  }
  section .part5 img{
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    max-width:100%;
    height:200px;
  }
  section .part5 p{
    text-align: left;
    font-size: 12px;
  }
  section .part5 .frames_img .content5 a{
    position: absolute;
    top: 100px;
    width: 36%;
    font-family : Roboto 'Bold';
    font-size : 11px;
    font-weight : 500;
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid #000000;
    padding : 10px 0px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
  section .part5 .frames_img .content5 a:hover {
     position: absolute;
     top: 100px;
     width: 39%;
     font-family : Roboto 'Bold';
     font-size : 12px;
     font-weight : 500;
     text-decoration: none;
     color: #015dba;
     border-bottom: 1px solid #015dba;
     padding : 10px 0px;
  }
  section .part6 img{
    height: 200px;
  }
  section .part6 .content6{
    top: 30px;
    left: 45%;
    color: #fff;
    font-family : Roboto 'Regular';
    font-size : 11px;
    font-weight : 500;
  }
  section .part6 h2{
    font-size: 26px;
  }
  section .part6 p{
    text-align: left;
  }
  section .part6 .content6 a {
     top: 120px;
     width: 65%;
     font-family : Roboto 'Bold';
     font-size : 11px;
     font-weight : 500;
     text-decoration: none;
     color: #fff;
     border-bottom: 1px solid #fff;
     padding : 10px 0px;
     transition: 0.5s;
     -webkit-transition: 0.5s;
  }
  section .part6 .content6 a:hover {
     top: 120px;
     width: 69%;
     font-family : Roboto 'Bold';
     font-size : 12px;
     font-weight : 500;
     text-decoration: none;
     color: #fff;
     border-bottom: 1px solid #fff;
     padding : 10px 0px;
  }
  section .part7 img{
    height: 250px;
  }
  section .part7 .content7{
    position: absolute;
    top: 180px;
    left: 32%;
    width: 70%;
    font-family : Roboto 'Regular';
    font-size : 16px;
    font-weight : 500;
  }
  section .part7 h1{
    font-size: 16px;
  }
  section .part7 .contactlens_img .content7 a{
     top: 100px;
     width: 48%;
     font-size : 11px;
  }
  section .part7 .contactlens_img .content7 a:hover{
    top: 100px;
    width: 52%;
    font-size : 12px;
  }

  /* part8 */
  section .part8 p{
    font-size: 15px;
    color:#322f31;
    font-weight:900;
  }
  section .contact_part2{
    margin: 0px 5px 0px 5px;
  }
  section .contact_part1 p{
    top: 77px;
    left:27%;
    font-size:12px;
    font-weight:900;
  }
  section .contact_part1 a{
    width: 12%;
    font-family: Roboto 'Bold';
    font-size: 9px;
    font-weight: 500;
    text-decoration: none;
    color: #015dba;
    border-bottom: 1px solid #015dba;
    padding: 5px 0px;
    margin-left: 25px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
  section .contact_part1 a:hover{
    width: 13%;
    font-family : Roboto 'Bold';
    font-size : 10px;
    color: #015dba;
    border-bottom: 1px solid #015dba;
    padding : 5px 0px;
  }

  /* what-we-d0 */
  section .container .part11{
    padding: 60px 0px 60px 0px;
  }
  section .part11 img{
    width: 250px;
    height: 250px;
  }
  section .part11 p{
    text-align: left;
  }
  section .part11 h2{
    font-size: 40px;
    font-family: Roboto 'bold';
    font-weight: 900;
    color: #000;
    padding-top: 0px;
    padding-bottom: 15px;
  }
  section .container .part12{
      padding: 80px 50px 60px 50px;
  }
  /* eye-health */
  section .container .part13{
    padding: 60px 0px 60px 0px;
  }
  section .part13 img{
    background-position: center;
    width: 100%;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
  }
  section .part13 p{
    text-align: left;
  }
  /* eye-test */
  section .container .part14{
    padding: 60px 0px 60px 0px;
  }
  section .part14 img{
    width: 250px;
    height: 250px;
  }
  section .part14 table tr td{
    font-size: 11px;
  }
  section .eyehealth_services .box_text{
    margin-top: 25px;
  }
  section .container .part15{
    padding: 0px 0px 30px 0px;
  }
  section .book-eye-test_content img{
    margin: 50px 0px 50px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  section .book-eye-test_content input[type="text"]{
    border: 0;
    padding: 10px;
    font-weight: 500;
    font-size: 17px;
    width: 130px;
  }
  section .book-eye-test_content h3,p{
    margin: 0px 0px 50px 0px;
    text-align: center;
  }
  section .eyehealth_services .box_text{
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  /* footer */
  footer ul h3{
    font-size:20px;
    font-weight: 500;
    color: #747474;
    padding-bottom:30px;
  }
  footer .foot_rights p{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right:0px;
    padding-left: 40px;
    color: #747474;
    font-weight:600;
    font-size: 12px;
  }
  footer .foot_policy p{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right:0px;
    padding-left: 40px;
    color: #747474;
    font-weight:600;
    font-size: 13px;
  }
  footer .foot_design p{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right:0px;
    padding-left: 40px;
    color: #747474;
    font-weight:600;
    font-size: 12px;
  }
  footer .foot_info{
    padding-left: 1rem;
  }
  footer .foot_social{
    padding-bottom: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* header */
  .header_cont .nav_links_left a:hover{
    border-bottom : 0;
  }
  .header_cont .nav_links_right a:hover{
    border-bottom : 0;
  }

  /* part1 */
  section .part1 a{
     position: absolute;
     top: 270px;
     left: 43%;
     width: 15%;
     font-size : 16px;
     font-weight : 500;
     text-decoration: none;
     color: #000000;
     border-bottom: 1px solid #000000;
  }
  section .part1 a:hover{
     width: 16%;
     font-family : Roboto 'Bold';
     font-size : 17px;
     color: #015dba;
     border-bottom: 1px solid #015dba;
  }

  /* part3 */
  section .part3 .p1{
    margin:10px 0px 10px 72px;
  }
  section .part3 .content1{
    left: 20%;
    /* width: 100%; */
  }
  section .part3 p{
    text-align: left;
  }
  section .part3 .p1 a{
    top: 150px;
    width: 19%;
    font-family : Roboto 'Regular';
    font-size : 16px;
    color: #000000;
    border-bottom: 1px solid #000000;
  }
  section .part3 .p1 a:hover{
    top: 150px;
    width: 20%;
    color: #015dba;
    border-bottom: 1px solid #015dba;
    padding : 10px 0px;
  }
  section .part3 .p2{
    margin:10px 0px 10px 220px;    
  }
  section .part3 .p2 a{
    width: 57%;
    color: #000000;
    font-size : 16px;
    border-bottom: 1px solid #000000;
  }
  section .part3 .p2 a:hover{
    width: 59%;
    font-size : 17px;
    color: #015dba;
    border-bottom: 1px solid #015dba;
  }

  /* part4 */
  section .part4 .content3{
    left: 20%;
  }
  section .part4 p{
    text-align: left;
  }
  section .part4 .p3{
    left: 4.5%;
    /* width: 100%; */
    padding-top: 20px;
  }
  section .part4 .p3 a{
    top: 150px;
    width: 19%;
    font-family : Roboto 'Regular';
    font-size : 16px;
    color: #000000;
    border-bottom: 1px solid #000000;
  }
  section .part4 .p3 a:hover{
    top: 150px;
    width: 20%;
    font-size : 17px;
    color: #015dba;
    border-bottom: 1px solid #015dba;
    padding : 10px 0px;
  }
  section .part4 .p4{
    left: 15%;
    /* width: 100%; */
    padding-top: 20px;
  }
  section .part4 .p4 a{
    top: 150px;
    width: 19%;
    font-family : Roboto 'Regular';
    font-size : 16px;
    color: #000000;
    border-bottom: 1px solid #000000;
  }
  section .part4 .p4 a:hover{
    top: 150px;
    width: 20%;
    font-size : 17px;
    color: #015dba;
    border-bottom: 1px solid #015dba;
    padding : 10px 0px;
  }

  /* horzontal line */
  .horizontal_line1 hr{
    border: 2px solid #EEEEEE;
    margin :0px 50px 50px 50px;
  }

  /* part5 */
  section .part5 .content5{
    position: absolute;
    top: 55px;
    left: 10%;
    /* width: 100%; */
    font-family : Roboto 'Regular';
    font-size : 16px;
    font-weight : 500;
  }
  section .part5 p{
    text-align: left;
  }
  section .part5 .frames_img .content5 a {
     width: 18%;
     font-size : 14px;
  }
  section .part5 .frames_img .content5 a:hover {
     width: 19%;
     font-size : 15px;
     color: #015dba;
     border-bottom: 1px solid #015dba;
  }

  /* part6 */
  section .part6 .content6{
    top: 30px;
    left: 54%;
    color: #fff;
    font-family : Roboto 'Regular';
    font-size : 16px;
    font-weight : 500;
  }
  section .part6 .contactlens_img .content6 a {
     font-size : 14px;
  }
  section .part6 .contactlens_img .content6 a:hover {
     font-size : 15px;
     color:#fff;
  }

  /* part7 */
  section .part7 .content7{
    top: 250px;
    left: 32%;
    width: 70%;
  }
  section .part7 .contactlens_img h1{
    color : #322f31;
    font-size : 26px;
    font-weight : 900;
  }
  section .part7 .contactlens_img .content7 a{
    top:  120px;
    width: 24%;
    font-size : 14px;
    color: #322f31;
    border-bottom: 1px solid #322f31;
  }
  section .part7 .contactlens_img .content7 a:hover {
    top:120px;
    width: 25%;
    font-size : 15px;
    color: #015dba;
    border-bottom: 1px solid #015dba;
    padding : 10px 0px;
  }

  /* part8 */
  section .part8 p{
    font-size:26px;
    color:#322f31;
    font-weight:900;
  }
  section .contact_part2{
    margin: 0px 10px 0px 10px;
  }
  section .contact_part1 p{
    top: 170px;
    left:29%;
    font-size:26px;
    font-weight:900;
  }

  /* what-we-d0 */
  section .container .part11{
    padding: 60px 0px 60px 0px;
  }
  section .part11 img{
    padding-top: 100px;
    width: 300px;
    height: 400px;
  }
  section .part11 p{
    text-align: left;
  }

  /* eye-health */
  section .container .part13{
    padding: 60px 0px 60px 0px;
  }

  /* eye-test */
  section .container .part14{
    padding: 60px 0px 60px 0px;
  }
  section .container .part15{
    padding: 0px 0px 30px 0px;
  }
  section .book-eye-test_content img{
    margin: 50px 0px 50px 0px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  section .book-eye-test_content h3,p{
    margin: 0px 0px 50px 0px;
    text-align: center;
  }

  /* footer */
  footer ul h3{
    font-size:20px;
    font-weight: 500;
    color: #747474;
    padding-bottom:30px;
  }
  footer .foot_rights p{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right:0px;
    padding-left: 40px;
    color: #747474;
    font-weight:600;
    font-size: 13px;
  }
  footer .foot_policy p{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right:0px;
    padding-left: 40px;
    color: #747474;
    font-weight:600;
    font-size: 13px;
  }
  footer .foot_design p{
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right:0px;
    padding-left: 40px;
    color: #747474;
    font-weight:600;
    font-size: 13px;
  }
  footer .foot_info{
    padding-left: 0rem;
  }
  footer .foot_social{
    padding-bottom:20px;
  }
}
