/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(-180Deg, #FCE48A 0%, #88DAF0 100%);
  border-radius: 10px;
  height: 150px;
}
::-webkit-scrollbar-thumb:hover{
	background:#015dba;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* body */
body{
  font-family: 'Roboto', sans-serif !important;
}
h2{
  font-weight: 900 !important;
  font-family: Roboto 'Bold';
}

/*  Header */
header {
  position: fixed;
  left: 0;
  width: 100%;
  border-radius: 0px;
  background-color: #fff;
  text-align: left;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 1;
}
#header {
  background-color: #fff;
  top: 0;
  width: 100%;
  transition: 0.2s;
  }
.header_cont{
  padding: 20px 80px 20px 80px;
}
.header_cont .social_icons a:hover{
  color: #015dba;
}
.header_cont hr{
  border: 0.5px solid lightgrey;
}
header .header_cont a.active{
  color: #015dba;
  border-bottom: 3px solid #015dba;
}
.header_cont img{
  padding: 10px 0px 10px 0px;
}
.header_cont .nav_links_left a{
  font-family: Roboto 'Regular';
  font-size: 15px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  margin: 0px 0px 0px 5px;
  padding: 0px 5px 21px 5px;
}
.header_cont .nav_links_left a:hover{
  color: #015dba;
  border-bottom : 3px solid #015dba;
}
.header_cont .nav_links_right a{
  font-family: Roboto 'Regular';
  font-size: 15px;
  text-decoration: none;
  color: #000;
  font-weight: 600;
  margin: 0px 0px 0px 10px;
  padding: 0px 5px 21px 5px;
}
.header_cont .nav_links_right a:hover{
  color: #015dba;
  border-bottom : 3px solid #015dba;
}
.right_nav{
  text-align:right;
}
.header_cont .appointment_link{
  font-family: Roboto 'Bold';
  font-size: 15px;
  color: #fff;
  font-weight: 900;
  text-decoration: none;
  border-radius: 25px;
  padding:10px 10px;
  -webkit-transition: 1.0s;
  transition: 1.0s;
  background-color:#015dba;
}
.header_cont .appointment_link:hover{
  font-size: 16px;
  background-image:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(255,255,255,.7) 100%);
  transition: background-size 1s, background-color 1s;
  background-size: 150% 100%;
}
.header_cont a i{
  padding-left: 15px;
}
.header_cont .fa-facebook-square{
  font-size:20px;
  color: #747474;
}
.header_cont .fa-facebook-square:hover{
  color: #3b5998;
}
.header_cont .fa-twitter-square{
  font-size:20px;
  color: #747474;
}
.header_cont .fa-twitter-square:hover{
  font-size:20px;
  color: #1DA1F2;
}
.header_cont .fa-instagram{
  font-size:20px;
  color: #747474;
}
.header_cont .fa-instagram:hover{
  color: #C13584;
}
/* Header */

/* Body */
/* Banner */
section .part1{
  margin-top: 123px;
}
section .part1 .image{
  padding-left: 0px;
  padding-right: 0px;
}
section .part1 img{
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section .part1 a{
   position: absolute;
   top: 470px;
   left: 45%;
   font-family : Roboto 'Bold';
   font-size : 16px;
   font-weight : 500;
   text-decoration: none;
   color: #000000;
   border-bottom: 1px solid #000000;
   padding : 10px 0px;
   transition: 0.5s;
   -webkit-transition:0.5s;
}
section .part1 a:hover{
  color: #015dba;
  border: 1px solid #015dba;
  padding : 10px 10px;
}
/* banner */

/* part2 */
.nhs_icon{
  margin-top: 0px;
}
section .part2 .row{
  margin:50px 0px 50px 0px;
}
section .part2 .test_content span{
  font-size:24px;
}
section .part2 .test_content p{
  font-size:15px;
  font-weight: 400;
}
section .part2 a{
  text-decoration: none;
  color: #000;
  font-size: 32px;
  margin-top:15px;
  transition: 1s;
  transition-duration: 1s;
  -webkit-transition : 1s;
}
section .part2 a:hover{
  text-decoration: none;
  color: #015dba;
  font-size: 32px;
  padding-left: 20px;
  margin-top:15px;
}
/* part2 */

/* find out more button style */
.btn1{
  position: absolute;
  top: 150px;
  font-family : Roboto 'Regular';
  font-size : 16px;
  font-weight : 500;
  color: #000000;
  border-bottom: 1px solid #000000;
  padding : 10px 0px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.btn1:hover{
  color: #015dba;
  border: 1px solid #015dba;
  padding : 10px 10px;
  text-decoration: none;
}
/* find out more button style */

/* part3 */
section .part3 .img_property{
  margin:10px 0px 10px 72px;
}
section .part3 img{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  max-width:100%;
}
section .part3 .content1{
  position: absolute;
  top: 100px;
  left: 25%;
  font-family : Roboto 'Regular';
  font-size : 16px;
  font-weight : 500;
}
section .part3 .img_property1{
  margin:10px 0px 10px -5px;
}
section .part3 .content2{
  position: absolute;
  top: 100px;
  left: 10%;
  font-family : Roboto 'Regular';
  font-size : 16px;
  font-weight : 500;
}

/* part4 */
section .part4 .img_property2{
  margin:10px 0px 10px 72px;
}
section .part4 img{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  max-width:100%;
}
section .part4 .content3{
  position: absolute;
  top: 100px;
  left: 25%;
  font-family : Roboto 'Regular';
  font-size : 16px;
  font-weight : 500;
}
section .part4 .img_property3{
  margin:10px 5px 10px -5px;
}
section .part4 img{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  max-width:100%;
}
section .part4 .content4{
  position: absolute;
  top: 100px;
  left: 10%;
  font-family : Roboto 'Regular';
  font-size : 16px;
  font-weight : 500;
}
/* part4 */

/* part5 */
section .part5 .frames_img{
  position: relative;
}
section .part5 img{
  background-repeat: no-repeat;
  background-size: cover;
  max-width:100%;
}
section .part5 .content5{
  position: absolute;
  top: 100px;
  left: 10%;
  font-family : Roboto 'Regular';
  font-size : 16px;
  font-weight : 500;
}
section .part5 .content5 a{
  font-family : Roboto 'Bold';
  font-size : 16px;
  font-weight : 500;
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #000000;
  padding : 10px 0px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
section .part5 .content5 a:hover {
   color: #015dba;
   border: 1px solid #015dba;
   padding : 10px 10px;
}
/* part5 */

/* part6 */
section .part6 .contactlens_img{
  position: relative;
}
section .part6 img{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  max-width:100%;
}
section .part6 .content6{
  position: absolute;
  top: 100px;
  left: 54%;
  color: #fff;
  font-family : Roboto 'Regular';
  font-size : 16px;
  font-weight : 500;
}
section .part6 .content6 a {
   font-family : Roboto 'Bold';
   font-size : 16px;
   font-weight : 500;
   text-decoration: none;
   color: #fff;
   border-bottom: 1px solid #fff;
   padding : 10px 0px;
   transition: 0.5s;
   -webkit-transition: 0.5s;
}
section .part6 .content6 a:hover {
  color: #fff;
  border: 1px solid #fff;
  padding : 10px 10px;
}
/* part6 */

/* part7 */
section .container .part7{
  padding-bottom: 125px;
}
section .part7 .contactlens_img{
  position: relative;
}
section .part7 img{
  background-repeat: no-repeat;
  background-size: cover;
  max-width:100%;
}
section .part7 .content7{
  position: absolute;
  top: 335px;
  left: 32%;
  font-family : Roboto 'Regular';
  font-size : 16px;
  font-weight : 500;
}
section .part7 h1{
  font-size: 34px;
}
section .part7 .contactlens_img .content7 a{
   font-family : Roboto 'Bold';
   font-size : 16px;
   font-weight : 500;
   text-decoration: none;
   color: #322f31;
   border-bottom: 1px solid #322f31;
   padding : 10px 0px;
   transition: 0.5s;
   -webkit-transition: 0.5s;
}
section .part7 .contactlens_img .content7 a:hover {
  color: #015dba;
  border: 1px solid #015dba;
  padding : 10px 10px;
}
/* part7 */

/* horizontal line */
.horizontal_line1 hr{
  border: 3px solid #EEEEEE;
  margin :50px 180px 50px 190px;
}

/* part8 */
section .part8 p{
  font-size:30px;
  color:#322f31;
  font-weight:900;
}
section .part8 {
  padding-left:70px;
  padding-right:100px;
  padding-bottom: 50px;
}
section .part8 .brands{
  padding-top:5px;
}
section .part8 img{
  padding-top:20px;
  padding-bottom:20px;
}

/* body */
section .contact_part1{
  margin-top: 123px;
}
section .contact_part1 img{
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section .contact_part1 p{
  position: absolute;
  top: 440px;
  left:35%;
  font-size:32px;
  font-weight:900;
}
section .contact_part1 a{
  font-family: Roboto 'Bold';
  font-size: 17px;
  font-weight: 500;
  text-decoration: none;
  color: #015dba;
  border-bottom: 1px solid #015dba;
  padding: 10px 0px;
  margin-left: 25px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
section .contact_part1 a:hover{
  color: #015dba;
  border: 1px solid #015dba;
  padding : 10px 10px;
}
section .contact_part2 .box1{
  padding:10px 30px 10px 20px;
  border-right:1px solid #015dba
}
section .contact_part2 h2{
  font-family:Roboto 'Bold';
  font-weight:bold;
  font-size:30px;
  padding:35px 0px 75px 0px;
  text-align:center
}
section .contact_part2 .box2{
  padding:40px 30px 10px 20px;
}
.frames_style{
  margin-top:20px;
  margin-bottom:20px;
}
.contact_style{
  margin-bottom:20px;
}
section .contact_part2 .btn3{
   left: 0%;
   font-family : Roboto 'Bold';
   font-size : 16px;
   font-weight : 500;
   text-align: center;
   text-decoration: none;
   background-color: #fff;
   color: #015dba;
   border: 1px solid #015dba;
   padding : 10px 30px;
   transition: 0.5s;
   -webkit-transition: 0.5s;
}
section .contact_part2 .btn3:hover {
   color: #fff;
   background-color: #015dba;
}
section .contact_part2 span{
  color: #015dba;
}
section .contact_part2 .form_style{
  padding: 15px;
}
section .contact_part2 .form-control{
  border: 0;
  border-bottom: 1px solid #015dba;
  border-radius: 0;
  margin:10px 0px 10px 0px;
  padding: 0px;
}
.carousel1 .item img{
  width: auto !important;
  margin: auto !important;
}
/* body */

/* what-we-do */
section .part11{
  margin-top: 123px;
}
section .container .part11{
    padding: 60px 0px 60px 80px;
}
section .what-we-do_cover{
  background-image: url('../images/what-we-do_cover.jpg');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
section .part11 h2{
  font-size: 40px;
  color: #000;
  padding-top: 90px;
  padding-bottom: 15px;
}
section .part11 p{
  font-size: 28px;
  font-family: Roboto 'Light';
  font-weight: 400;
  color: #000;
}
section .part11 img{
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  width: 425px;
  height: 425px;
  box-shadow: 2px 5px 10px -2px #000; /* image shadow optional pending to accept */
}
section .part11 .what-we-do_para2 p{
  padding-top: 25px;
  padding-right: 40px;
  font-size: 16px;
  font-family: Roboto 'Regular';
  line-height: 30px;
  font-weight: 500;
}
section .container .part12{
    padding: 80px 80px 60px 80px;
}
section .container .part12 img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0px 50px 0px;
}
section .part12 p{
  font-size: 30px;
  font-weight: 900;
  text-align: center;
}
section .part12 .eyehealth_services p{
  font-size: 20px;
  font-weight: 500;
}
section .part12 .eyehealth_services{
  transition: .5s;
  -webkit-transition: .5s;
}
section .part12 .eyehealth_services:hover{
  box-shadow: 0px 0px 15px #56c7f4;
  cursor: pointer;
  border-radius: 5px;
}
/* what-we-do */

/* eye-health */
section .part13{
  margin-top: 123px;
}
section .container .part13{
    padding: 60px 0px 60px 80px;
}
section .eye-health_cover{
  background-image: url('../images/eye-health_cover.jpg');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
section .part13 img{
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  width: 425px;
  height: 425px;
  box-shadow: 2px 5px 10px -2px #000;
}
section .part13 h2{
  font-size: 40px;
  color: #000;
  padding-top: 90px;
  padding-bottom: 15px;
}
section .part13 p{
  font-size: 28px;
  font-family: Roboto 'Light';
  font-weight: 400;
  color: #000;
}
section .part13 .eye-health_para2 p{
  padding-top: 25px;
  padding-right: 40px;
  font-size: 16px;
  font-family: Roboto 'Regular';
  line-height: 30px;
  font-weight: 500;
}
/* eye health */

/* eye-test */
section .part14{
  margin-top: 123px;
}
section .container .part14{
    padding: 60px 0px 60px 80px;
}
section .eye-test_cover{
  background-image: url('../images/eye-test_cover.jpg');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
section .part14 img{
  background-position: center;
  width: 100%;
  background-repeat: no-repeat;
  width: 425px;
  height: 425px;
  box-shadow: 2px 5px 10px -2px #000;
}
section .part14 h2{
  font-size: 40px;
  color: #000;
  padding-top: 90px;
  padding-bottom: 15px;
}
section .part14 p{
  font-size: 28px;
  font-family: Roboto 'Light';
  font-weight: 400;
  color: #000;
  text-align: left;
}
section .part14 .eye-test_para2 p{
  padding-top: 25px;
  padding-right: 40px;
  font-size: 16px;
  font-family: Roboto 'Regular';
  line-height: 30px;
  font-weight: 500;
}
section .part14 table{
  margin-top: 100px;
  align-content: flex-start;
}
section .part14 table tr td{
  font-family: Roboto 'Medium';
  font-size: 16px;
  font-weight: 900;
}
section .part14 table tr td:hover{
  text-decoration: underline;
  cursor: pointer;
}
section .eyehealth_services .box_text{
  font-size: 30px;
  font-weight: 900;
  text-align: center;
  margin-top: 100px;
}
section .container .part15{
  padding: 0px 75px 30px 75px;
}
section .book-eye-test_cover{
  background-image: url('../images/eye-test.jpg');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
section .book-eye-test_content img{
  margin: 100px 50px 100px 150px;
}
section .book-eye-test_content h3{
  margin-top: 125px;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 25px;
}
section .book-eye-test_content p{
  font-size: 14px;
  font-family: Roboto 'Regular';
  font-weight: 500;
}
section .book-eye-test_content input[type="text"]{
  border: 0;
  padding: 10px 10px 10px 20px;
  font-weight: 500;
  font-size: 17px;
  width: 180px;
}
section .book-eye-test_content input[type="text"]:focus{
  box-shadow: 0px 0px 20px #FCE48A;
}
section .book-eye-test_content a{
  background-color: #000;
  color: #fff;
  font-size: 18px;
  padding: 11px 20px 11px 20px;
  margin-left: 15px;
  text-decoration: none;
}
section .book-eye-test_content a:hover{
  box-shadow: 0px 0px 20px #FCE48A;
  color: #FCE48A;
}

/* book-appointment */
section .appointment_content{
  margin-top: 123px;
}
section .appointment_cover_img{
  background-image: url('../images/appointment_cover-874811644.jpg');
  background-position: center;
  background-size: cover;
  height: 400px;
}
section .appointment_content .para{
  text-align: left;
  background-color: #1baaee;
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  padding-top: 10px;
  margin-top: 50px;
  border-radius: 0px 25px 75px 0px;
  box-shadow: 10px 0px 15px -5px #000;
}
section .form_style1 h4{
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  padding: 50px 0px 25px 0px;
}
section .form_style1 .form-control{
  border: 0;
  border-bottom: 1px solid #015dba;
  border-radius: 0;
  margin: 30px 0px 0px 0px;
  padding-bottom: 30px;
  padding: 0px;
}
section .form-control:focus{
  color: #015dba;
  caret-color: #015dba;
  font-weight: 500;
}
section .btn2{
   left: 0%;
   font-family : Roboto 'Bold';
   font-size : 16px;
   font-weight : 500;
   text-align: center;
   text-decoration: none;
   background-color: #fff;
   color: #015dba;
   border: 1px solid #015dba;
   padding : 10px 30px;
   transition: 0.5s;
   -webkit-transition: 0.5s;
}
section .btn2:hover {
   color: #fff;
   background-color: #015dba;
}

/* slide option */
.slide{
  height: 100%;
  width: 0%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: linear-gradient(to left, #FCE48A 0%, #88DAF0 100%);
  opacity: 1;
  overflow-x: hidden;
  transition: .5s;
  padding-top: 60px;
}
#header .right_nav .appointment_link{
  font-family: Roboto 'Bold';
  font-size: 15px;
  color: #fff;
  font-weight: 900;
  text-decoration: none;
  border-radius: 25px;
  padding:10px 10px;
  margin-top: 25px;
  margin-left: 25px;
  width: 30%;
  -webkit-transition: 1.0s;
  transition: 1.0s;
  background-color:#015dba;
}
#header .right_nav .appointment_link:hover{
  cursor: pointer;
  font-size: 16px;
  background-image:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(255,255,255,.7) 100%);
  transition: background-size 1s, background-color 1s;
  background-size: 150% 100%;
  color: #fff;
}
#header .slide .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 42px;
  margin-left: 50px;
  color: #000;
  text-decoration: none;
}
#header .slide .closebtn:hover {
  color: #015dba;
}
/* book-appointment */

/* footer */
footer{
  background-color: #322F31;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer ul li{
  display: block;
  font-family : Roboto 'Regular';
  color: #C1C0C1;
  font-weight: 600;
  padding-top:15px;
}
footer .info{
  padding-left:0px;
}
footer ul h3{
  font-size:24px;
  font-weight: 500;
  color: #747474;
  padding-bottom:30px;
}
footer ul .fa-facebook-square{
  font-size:18px;
  padding-right:25px;
  color: #747474;
}
footer ul .fa-twitter-square{
  font-size:18px;
  padding-right:25px;
  color: #747474;
}
footer ul .fa-instagram{
  font-size:18px;
  padding-right:25px;
  color: #747474;
}
footer ul a{
  font-family : Roboto 'Regular';
  color: #C1C0C1;
  font-weight: 600;
}
footer ul a:hover{
  background: linear-gradient(to left, #FCE48A 0%, #88DAF0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-weight: 600;
  text-decoration: none;
}
footer .foot_social a{
  padding-bottom: 20px;
}
footer .foot_rights p{
  padding-top: 80px;
  padding-bottom: 5px;
  padding-right:0px;
  padding-left: 40px;
  color: #747474;
  font-weight:600;
  font-size: 13px;
}
footer .foot_policy p{
  padding-top: 80px;
  padding-bottom: 5px;
  padding-right:0px;
  padding-left: 20px;
  color: #747474;
  font-weight:600;
  font-size: 13px;
}
footer .foot_policy a{
  color: #747474;
}
footer .foot_design p{
  padding-top: 80px;
  padding-bottom: 5px;
  padding-right:0px;
  padding-left: 40px;
  color: #747474;
  font-weight:600;
  font-size: 13px;
}
footer .foot_design a{
  text-decoration: none;
}
/* footer */

/* slide */
.sidemenu .appointment_link{
  font-family: Roboto 'Bold';
  font-size: 15px;
  color: #fff;
  font-weight: 900;
  text-decoration: none;
  border-radius: 25px;
  padding:10px 10px;
  margin-top: 25px;
  margin-left: 25px;
  width: 30%;
  -webkit-transition: 1.0s;
  transition: 1.0s;
  background-color:#015dba;
}
.sidemenu .appointment_link:hover{
  font-size: 16px;
  background-image:linear-gradient(to right, rgba(255,255,255,0) 0%, rgba(255,255,255,0) 20%, rgba(255,255,255,.7) 100%);
  transition: background-size 1s, background-color 1s;
  background-size: 150% 100%;
  color: #fff;
}

/* modal styles */
.modal-content{
  border-radius: 20px!important;
}
.modal .modal-body{
  background: linear-gradient(to left, #FCE48A 0%, #88DAF0 100%);
  color: #000;
  padding: 40px;
  border-radius: 20px!important;
}
.modal p{
  text-align: left;
}
.modal ul{
  font-size: 15px;
  padding-left: 17px;
  padding-top: 20px;
}
.modal table tr td#arrow_style{
  text-align:right;
  font-size: 26px;
  font-weight:900;
  cursor:pointer
}
.modal .btn4{
   left: 0%;
   font-family : Roboto 'Bold';
   font-size : 16px;
   font-weight : 500;
   text-align: center;
   text-decoration: none;
   /* background: linear-gradient(to left, #FCE48A 0%, #88DAF0 100%); */
   background: transparent;
   color: #000;
   border: 1px solid #000;
   border-radius: 8px;
   padding : 10px 30px;
   transition: 0.5s;
   -webkit-transition: 0.5s;
}
.modal .btn4:hover {
  background-color: #015dba;
  color: #fff;
  border: 1px solid #015dba;
}
