/* header */
.header_cont{
  padding: 20px 80px 20px 80px;
}
.header_cont .social_icons a:hover{
  color: #015dba;
}
.header_cont hr{
  border: 0.5px solid lightgrey;
}
.header_cont img{
  padding: 10px 0px 10px 0px;
}
.header_cont .nav_links_left a{
  font-family: Roboto 'Regular';
  font-size: 15px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  margin: 0px 0px 0px 5px;
  padding: 0px 5px 21px 5px;
}
.header_cont .nav_links_left a:hover{
  font-family: Roboto 'Regular';
  font-size: 15px;
  color: #015dba;
  font-weight: 500;
  border-bottom : 3px solid #015dba;
}
.header_cont .nav_links_right a{
  font-family: Roboto 'Regular';
  font-size: 15px;
  text-decoration: none;
  color: #000;
  font-weight: 500;
  margin: 0px 0px 0px 10px;
  padding: 0px 5px 21px 5px;
}
.header_cont .nav_links_right a:hover{
  font-family: Roboto 'Regular';
  font-size: 15px;
  color: #015dba;
  font-weight: 500;
  border-bottom : 3px solid #015dba;
}
.header_cont .appointment_link{
  font-family: Roboto 'Bold';
  font-size: 15px;
  color: #000;
  font-weight: 900;
  text-decoration: none;
  -webkit-transition: font-size 0.5s;
  transition: font-size 0.5s;
}
.header_cont .appointment_link:hover{
  font-family: Roboto 'Bold';
  font-size: 16px;
  color: #015dba;
  font-weight: 900;
  /* text-decoration: underline; */
}
.header_cont a i{
  padding-left: 15px;
}
.header_cont .fa-facebook-square{
  font-size:20px;
  color: #747474;
}
.header_cont .fa-facebook-square:hover{
  color: #3b5998;
}
.header_cont .fa-twitter-square{
  font-size:20px;
  color: #747474;
}
.header_cont .fa-twitter-square:hover{
  font-size:20px;
  color: #1DA1F2;
}
.header_cont .fa-instagram{
  font-size:20px;
  color: #747474;
}
.header_cont .fa-instagram:hover{
  color: #C13584;
}
/* header */

/* body */
/* banner */
section .part1 .image{
  padding-left: 0px;
  padding-right: 0px;
}
section .part1 img{
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section .part1 a{
   position: absolute;
   top: 470px;
   left: 45%;
   width: 8%;
   font-family : Roboto 'Bold';
   font-size : 16px;
   font-weight : 500;
   text-decoration: none;
   color: #000000;
   border-bottom: 1px solid #000000;
   padding : 10px 0px;
   transition: 0.5s;
   -webkit-transition:0.5s;
}
section .part1 a:hover{
   width: 8.5%;
   font-family : Roboto 'Bold';
   font-size : 17px;
   font-weight : 500;
   color: #015dba;
   border-bottom: 1px solid #015dba;
}

/* part2 */
.nhs_icon{
  margin-top: 0px;
}
section .part2 .row{
  margin:50px 0px 50px 0px;
}
section .part2 .test_content span{
  font-size:24px;
}
section .part2 .test_content p{
  font-size:15px;
  font-weight: 400;
}
section .part2 a{
  text-decoration: none;
  color: #000;
  font-size: 32px;
  margin-top:15px;
  transition: 1s;
  transition-duration: 1s;
  -webkit-transition : 1s;
}
section .part2 a:hover{
  text-decoration: none;
  color: #015dba;
  font-size: 32px;
  padding-left: 20px;
  margin-top:15px;
}

/* part3 */
section .part3 img{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  max-width:100%;
}
section .part3 .img_property{
  margin:10px 0px 10px 72px;
}
section .part3 .content1{
  position: absolute;
  top: 100px;
  left: 25%;
  width: 100%;
  font-family : Roboto 'Regular';
  font-size : 16px;
  font-weight : 500;
}
/* section .part3 .p1 h1{
  position: absolute;
  top: 100px;
  left: 25%;
  width: 100%;
  font-family : Roboto 'Bold';
  font-size : 30px;
  font-weight : 900;
}
section .part3 .p1 p{
  position: absolute;
  top: 160px;
  left: 25%;
  width: 100%;
  font-family : Roboto 'Regular';
  font-size : 16px;
  font-weight : 500;
} */
section .part3 .p1 a{
  position: absolute;
  top: 150px;
  /* left: 25%; */
  width: 24%;
  font-family : Roboto 'Regular';
  font-size : 16px;
  font-weight : 500;
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #000000;
  padding : 10px 0px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
section .part3 .p1 a:hover{
  position: absolute;
  top: 150px;
  width: 25%;
  font-family : Roboto 'Regular';
  font-size : 17px;
  font-weight : 500;
  text-decoration: none;
  color: #015dba;
  border-bottom: 1px solid #015dba;
  padding : 10px 0px;
}
section .part3 .img_property1{
  margin:10px 0px 10px -5px;
}
section .part3 img{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  max-width:100%;
}
section .part3 .content2{
  position: absolute;
  top: 100px;
  left: 10%;
  width: 100%;
  font-family : Roboto 'Regular';
  font-size : 16px;
  font-weight : 500;
}
/* section .part3 .p2 h1{
  position: absolute;
  top: 100px;
  left: 10%;
  width: 100%;
  font-family : Roboto 'Bold';
  font-size : 30px;
  font-weight : 900;
}
section .part3 .p2 p{
  position: absolute;
  top: 160px;
  left: 10%;
  width: 100%;
  font-family : Roboto 'Regular';
  font-size : 16px;
  font-weight : 500;
} */
section .part3 h2{
  font-weight:900;
}
section .part3 .p2 a{
  position: absolute;
  top: 150px;
  /* left: 10%; */
  width: 24%;
  font-family : Roboto 'Regular';
  font-size : 16px;
  font-weight : 500;
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #000000;
  padding : 10px 0px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
section .part3 .p2 a:hover{
  position: absolute;
  top: 150px;
  width: 25%;
  font-family : Roboto 'Regular';
  font-size : 17px;
  font-weight : 500;
  text-decoration: none;
  color: #015dba;
  border-bottom: 1px solid #015dba;
  padding : 10px 0px;
}

/* part4 */
section .part4 img{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  max-width:100%;
}
section .part4 .img_property2{
  margin:10px 0px 10px 72px;
}
/* section .part4 .content1 h2{
  position: absolute;
  top: 100px;
  left: 25%;
  width: 100%;
  font-family : Roboto 'Bold';
  font-size : 30px;
  font-weight : 900;
} */
/*
section .part4 .content1 .p3 p{
  position: absolute;
  top: 160px;
  left: 40%;
  width: 100%;
  font-family : Roboto 'Regular';
  font-size : 16px;
  font-weight : 500;
} */
section .part4 .content3{
  position: absolute;
  top: 100px;
  left: 25%;
  width: 100%;
  font-family : Roboto 'Regular';
  font-size : 16px;
  font-weight : 500;
}
section .part4 .p3 a{
  position: absolute;
  top: 150px;
  /* left: 25%; */
  width: 24%;
  font-family : Roboto 'Regular';
  font-size : 16px;
  font-weight : 500;
  text-decoration: none;
  color: #000000;
  border-bottom: 1px solid #000000;
  padding : 10px 0px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
section .part4 .p3 a:hover{
  position: absolute;
  top: 150px;
  width: 25%;
  font-family : Roboto 'Regular';
  font-size : 17px;
  font-weight : 500;
  text-decoration: none;
  color: #015dba;
  border-bottom: 1px solid #015dba;
  padding : 10px 0px;
}
section .part4 .img_property3{
  margin:10px 5px 10px -5px;
}
section .part4 .content4{
  position: absolute;
  top: 100px;
  left: 10%;
  width: 100%;
  font-family : Roboto 'Regular';
  font-size : 16px;
  font-weight : 500;
}
section .part4 h2{
  font-weight:900;
}
  /* section .part4 .p4 h2{
    position: absolute;
    top: 100px;
    left: 10%;
    width: 100%;
    font-family : Roboto 'Bold';
    font-size : 30px;
    font-weight : 900;
  }
  section .part4 .p4 p{
    position: absolute;
    top: 160px;
    left: 10%;
    width: 100%;
    font-family : Roboto 'Regular';
    font-size : 16px;
    font-weight : 500;
  } */
  section .part4 .p4 a{
    position: absolute;
    top: 150px;
    /* left: 10%; */
    width: 24%;
    font-family : Roboto 'Regular';
    font-size : 16px;
    font-weight : 500;
    text-decoration: none;
    color: #000000;
    border-bottom: 1px solid #000000;
    padding : 10px 0px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
  }
  section .part4 .p4 a:hover{
    position: absolute;
    top: 150px;
    width: 25%;
    font-family : Roboto 'Regular';
    font-size : 17px;
    font-weight : 500;
    text-decoration: none;
    color: #015dba;
    border-bottom: 1px solid #015dba;
    padding : 10px 0px;
  }

/* part5 */
section .part5 .frames_img{
  position: relative;
}
section .part5 img{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  max-width:100%;
}
section .part5 .content5{
  position: absolute;
  top: 100px;
  left: 10%;
  width: 100%;
  font-family : Roboto 'Regular';
  font-size : 16px;
  font-weight : 500;
}
/* section .part5 .frames_img h1 {
   position: absolute;
   top: 100px;
   left: 10%;
   width: 100%;
   font-family : Roboto 'Bold';
   font-size : 30px;
   font-weight : 900;
} */
/* section .part5 .frames_img p {
   position: absolute;
   top: 145px;
   left: 10%;
   width: 100%;
   font-family : Roboto 'Bold';
   font-size : 20px;
   font-weight : 400;
} */
section .part5 .frames_img .content5 a {
   position: absolute;
   top: 110px;
   /* left: 10%; */
   width: 14%;
   font-family : Roboto 'Bold';
   font-size : 16px;
   font-weight : 500;
   text-decoration: none;
   color: #000000;
   border-bottom: 1px solid #000000;
   padding : 10px 0px;
   transition: 0.5s;
   -webkit-transition: 0.5s;
}
section .part5 .frames_img .content5 a:hover {
   position: absolute;
   top: 110px;
   /* left: 10%; */
   width: 15.5%;
   font-family : Roboto 'Bold';
   font-size : 17px;
   font-weight : 500;
   text-decoration: none;
   color: #015dba;
   border-bottom: 1px solid #015dba;
   padding : 10px 0px;
   /* padding-left:10px; */
}

/* part6 */
section .part6 .contactlens_img{
  position: relative;
}
section .part6 img{
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  max-width:100%;
}
section .part6 .content6{
  position: absolute;
  top: 100px;
  left: 54%;
  /* width: 100%; */
  color: #fff;
  font-family : Roboto 'Regular';
  font-size : 16px;
  font-weight : 500;
}
/* section .part6 .contactlens_img h2{
   position: absolute;
   top: 100px;
   left: 54%;
   font-family: Roboto 'Bold';
   color: #fff;
   font-size: 30px;
   font-weight: 900;
}
section .part6 .contactlens_img p {
   position: absolute;
   top: 145px;
   left: 54%;
   font-family : Roboto 'Bold';
   color : #fff;
   font-size : 20px;
   font-weight : 400;
} */
section .part6 .contactlens_img .content6 a {
   position: absolute;
   top: 110px;
   /* left: 54%; */
   width: 50%;
   font-family : Roboto 'Bold';
   font-size : 16px;
   font-weight : 500;
   text-decoration: none;
   color: #fff;
   border-bottom: 1px solid #fff;
   padding : 10px 0px;
   transition: 0.5s;
   -webkit-transition: 0.5s;
}
section .part6 .contactlens_img .content6 a:hover {
   position: absolute;
   top: 110px;
   width: 52%;
   font-family : Roboto 'Bold';
   font-size : 17px;
   font-weight : 500;
   text-decoration: none;
   color: #fff;
   border-bottom: 1px solid #fff;
   padding : 10px 0px;
}

/* part7 */
section .container .part7{
  padding-bottom: 125px;
}
section .part7 .contactlens_img{
  position: relative;
}
section .part7 img{
  background-repeat: no-repeat;
  background-size: cover;
  max-width:100%;
}
section .part7 .content7{
  position: absolute;
  top: 335px;
  left: 32%;
  width: 85%;
  font-family : Roboto 'Regular';
  font-size : 16px;
  font-weight : 500;
}
/* section .part7 .contactlens_img h1 {
   position: absolute;
   top: 335px;
   left: 32%;
   font-family : Roboto 'Bold';
   color : #322f31;
   font-size : 30px;
   font-weight : 900;
} */
section .part7 .contactlens_img .content7 a{
   position: absolute;
   top: 170px;
   left: 0%;
   width: 15%;
   font-family : Roboto 'Bold';
   font-size : 16px;
   font-weight : 500;
   text-decoration: none;
   color: #322f31;
   border-bottom: 1px solid #322f31;
   padding : 10px 0px;
   transition: 0.5s;
   -webkit-transition: 0.5s;
}
section .part7 .contactlens_img .content7 a:hover {
   position: absolute;
   top: 170px;
   left: 0%;
   width: 16%;
   font-family : Roboto 'Bold';
   font-size : 17px;
   font-weight : 500;
   text-decoration: none;
   color: #015dba;
   border-bottom: 1px solid #015dba;
   padding : 10px 0px;
}

/* line */
.horizontal_line1 hr{
  border: 3px solid #EEEEEE;
  margin :50px 180px 50px 190px;
}

/* part8 */
section .part8 p{
  font-size:30px;
  color:#322f31;
  font-weight:900;
}
section .part8 {
  padding-left:70px;
  padding-right:100px;
  padding-bottom: 50px;
}
section .part8 .brands{
  padding-top:5px;
}
section .part8 img{
  padding-top:20px;
  padding-bottom:20px;
}

/* body */
section .contact_part1 img{
  width:100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
section .contact_part1 p{
  position: absolute;
  top: 440px;
  left:35%;
  font-size:32px;
  font-weight:900;
  color:#015dba;
}
section .contact_part1 a{
  width: 15%;
  font-family : Roboto 'Bold';
  font-size : 17px;
  font-weight : 500;
  text-decoration: none;
  color: #322f31;
  border-bottom: 1px solid #322f31;
  padding : 10px 0px;
  margin-left:25px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
section .contact_part1 a:hover{
  width: 15%;
  font-family : Roboto 'Bold';
  font-size : 19px;
  color: #015dba;
  border-bottom: 1px solid #015dba;
  padding : 10px 0px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
}
.frames_style{
  margin-top:20px;
  margin-bottom:20px;
}
.contact_style{
  margin-bottom:20px;
}
section .contact_part2 form a{
   top: 170px;
   left: 0%;
   width: 15%;
   font-family : Roboto 'Bold';
   font-size : 16px;
   font-weight : 500;
   text-decoration: none;
   color: #015dba;
   border: 1px solid #015dba;
   padding : 10px 30px;
   transition: 0.5s;
   -webkit-transition: 0.5s;
}
section .contact_part2 form a:hover {
   font-size : 17px;
   color: #fff;
   /*border:1px solid #015dba;*/
   background-color: #015dba;
}
section .contact_part2 span{
  color: #015dba;
}
section .contact_part2 .form_style{
  padding: 15px;
}
section .contact_part2 .form-control{
  border: 0;
  border-bottom: 1px solid #015dba;
  border-radius: 0;
  margin:10px 0px 10px 0px;
  padding: 0px;
}

/* footer */
footer{
  background-color: #322F31;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 50px;
}
footer ul li{
  display: block;
  font-family : Roboto 'Regular';
  color: #C1C0C1;
  font-weight: 600;
  padding-top:15px;
}
footer .info{
  padding-left:0px;
}
footer ul h3{
  font-size:24px;
  font-weight: 500;
  color: #747474;
  padding-bottom:30px;
}
footer ul .fa-facebook-square{
  font-size:18px;
  padding-right:25px;
  color: #747474;
}
footer ul .fa-twitter-square{
  font-size:18px;
  padding-right:25px;
  color: #747474;
}
footer ul .fa-instagram{
  font-size:18px;
  padding-right:25px;
  color: #747474;
}
footer ul a{
  font-family : Roboto 'Regular';
  color: #C1C0C1;
  font-weight: 600;
}
footer ul a:hover{
  font-family : Roboto 'Regular';
  color: #C1C0C1;
  font-weight: 600;
  text-decoration: none;
}
footer .foot_info a{
  /* padding-left: 3rem; */
}
footer .foot_social a{
  padding-bottom: 20px;
}
footer .foot_rights p{
  padding-top: 80px;
  padding-bottom: 5px;
  padding-right:0px;
  padding-left: 40px;
  color: #747474;
  font-weight:600;
  font-size: 13px;
}
footer .foot_policy p{
  padding-top: 80px;
  padding-bottom: 5px;
  padding-right:0px;
  padding-left: 20px;
  color: #747474;
  font-weight:600;
  font-size: 13px;
}
footer .foot_policy a{
  color: #747474;
}
footer .foot_design p{
  padding-top: 80px;
  padding-bottom: 5px;
  padding-right:0px;
  color: #747474;
  font-weight:600;
  font-size: 13px;
}
/* footer */
